<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/mic.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/Satisfy-Regular.ttf">
    <link rel="shortcut icon" href="../img/mic.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/headerMainFooter.css">
    <link rel="stylesheet" href="../css/bandas.css">

    <title>Música en vivo</title>
</head>

<body>
    <header>
        <nav>
            <h1>Live music</h1>
            <a href="../index.html"><img src="" alt="">Inicio</a>
            <a href="eventos.html">Eventos</a>
            <a href="bandas.html">Bandas</a>
            <a href="contacto.html">Contacto</a>
            <a href="">Log in</a>
        </nav>
    </header>
    
    


    <footer>

        <div id="pie">
            <a href="https://www.facebook.com"><img src="../img/facebook.png" alt=""></a>
            <a href="https://www.instagram.com"><img src="../img/instagram.png" alt=""></a>
            <a href="https://www.youtube.com"><img src="../img/youtube.png" alt=""></a>
            <a href="https://maps.google.com"><img src="../img/mapa.png" alt=""></a>
        </div>
        <div id="pie2">
            <p>Matheu 3400 | San Martín | Buenos Aires</p>
            <p>CAC 2023</p>
        </div>


    </footer>
</body>

</html>