/*PAGINA CONTACTO*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

body {
    height: auto;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%), url(../img/1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;
}

.titulo {
    font-size: 80px;
    margin-bottom: 15px;
    align-items: center;
}


.subtitulo {
    text-align: center;
    font-weight: 300;
    color: #2b233e;
    margin-bottom: 40px;
    font-size: 40px;
}

.gallery {
    background: rgb(221, 207, 192);
    display: flex;
    flex-wrap: wrap;
}

.contenedor-galeria {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-galeria {
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
    cursor: pointer;
}

.imagen-light {
    position: fixed;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show {
    transform: translate(0);
}

.agregar-imagen {
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.showImage {
    transform: scale(1);
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;

}
@media only screen and (max-width: 700px) {
    /* For mobile phones: */
   
    .img-galeria {width: 90%;}

}
@media only screen and (max-width: 400px) {
    /* For mobile phones: */
   
    .img-galeria {width: 0%;}}
