*{
    margin: 0%;
    padding: 0%;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
main{
    background-image: url(IMG/1.jpeg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5vh;
}

.s1{
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 5vw;
    height: 75vh;
}
#s2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    height: 70vh;
    background-color:antiquewhite;
    padding: 5vw;
}
#s2 h2{
    color: black;
}
#s3{
    background-color: rgb(246, 240, 240);
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
#contacto{
    background-color: white;
    color:black;
    border: none;   
    border-radius: 60% 90% 60% 90%;
    cursor:pointer;
    padding: 2vh;
    font-size: 25px;
}

a{
    text-decoration: none;
    color: white;
    padding: 5vh;
    font-size: 3vh;
    
}
/* div{
    width: 50vw;
    height: 100%;
} */
#intro{
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    
}
div>p{
    color: white;
    font-size: 3vh;
}
h1{
    font-size: 60px;

}
h2{
    text-align: center;
    font-size: 30px;
}
.x{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    background-size: contain;
    gap:1vh;
    margin-bottom: 10vh;
    width: 100%;
    height: auto;
    

    
}
nav>a:last-child{
    background-color: white;
    color: black;
    border-radius: 90% 60% 90% 60%;
    height: 2vh;
}
#contacto:hover, nav>a:hover{
    font-weight: bolder;
}





.card{
    margin-top: 10vh;
    padding: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-size: contain;
    width: 20%;
    height: 90%;
    border-radius: 0% 0% 0% 0%;
    overflow: hidden;
}
.card:hover{
    border: solid;
    border-color: rgb(192, 207, 231);

}
.x img{
    padding: 1vw;
    width: 90%;
    border-radius:  0% 0% 0% 0%;
} 
.card>p{
    padding: 1vw;
    color: black;
}
.card>h3{
    color: black;
}
footer{
    padding-top: 3vh;
    height: 20vh;
    width: 100%;
    background-size: contain;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer>p{
    background-size: contain;
    text-align: right;
    color: white;
}
a>img{
    width: 5vh;
}
#pie{
    display: flex;
    width: 50vw;
    align-items: center;
    justify-content:center;
}
#pie2{
    display: flex;
    width: 50vw;
    align-items: center;
    background-size:50vw;
    justify-content:center;
    flex-direction: column;
}

/*PAGINA CONTACTO*/
section{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-content: center;
}
form{
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: top;
    flex-direction: column;
    gap: 2vh;
    overflow: auto;
}
#formulario{
    width: 40vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3vh;
    background: black;
    opacity: 80%;
    gap: 5vh;
    border-radius: 0% 10% 0% 10%;
    padding: 2vh;
}

/* bandas */
#s4{
    background-color: black;
    width: 80vw;
    

    animation-name: bandas;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite; 
}

 @keyframes bandas{
    0%{background-image: url(IMG/band1.jpg);left: 0;}
    0%{background-image: url(IMG/band2.jpg);left: 0vw;}
    0%{background-image: url(IMG/band3.jpg);left: 0vw;}
    0%{background-image: url(IMG/band1.jpg);left: 0vw;}
}